<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My HTML site</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet"> <!-- this is to include the fonts from google so that we can include them in css file -->
</head>
<body>
<h1>Hello</h1>
<h2>Hello how are you       <p>My name is Shubhang</p></h2>
<h3>Hello</h3>
<h4>Hello</h4>
<h5>Hello</h5>
<h6>Hello</h6>

<div class="boxmodel">A</div>
<div class="boxmodel">B</div>
<div class="boxmodel">C</div>
<br>


<!-- img tag s used to insert image and is a self closing tag -->
<img src = 'https://images.unsplash.com/photo-1528825871115-3581a5387919?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80', height="100", width="100">


<div id="group">
<p class="para">I am inside my paragraph tag which arrange the para very nicely.<br><br>
Google LLC is an American multinational technology company that specializes in Internet-related services and products, which include online advertising technologies, search engine, cloud computing, software, and hardware. It is considered one of the Big Four technology companies, alongside Amazon, Apple, and Microsoft.
</p>

<p class="para1">I am inside my paragraph tag which arrange the para very nicely.<br><br>
Google LLC is an American multinational technology company that specializes in Internet-related services and products, which include online advertising technologies, search engine, cloud computing, software, and hardware. It is considered one of the Big Four technology companies, alongside Amazon, Apple, and Microsoft.
</p>

<p class="para">I am inside my paragraph tag which arrange the para very nicely.<br><br>
Google LLC is an American multinational technology company that specializes in Internet-related services and products, which include online advertising technologies, search engine, cloud computing, software, and hardware. It is considered one of the Big Four technology companies, alongside Amazon, Apple, and Microsoft.
</p>
</div>

<b>This is the bold text</b>
<br><br>
<strong>This is the strong text, strong is advanced(new) version of bold</strong>

<!-- Ordered(ol) list are the one which have numbers, and unordered(ul) are the one which have bullets -->
<!-- li stands for list item -->
<ol>
    <li>Phone</li>
    <ul>
        <li>Samsung</li>
        <li>Xioami</li>
        <li>Apple</li>
    </ul>
    <li>Camera</li>
    <li>Tablet</li>
</ol>
<!-- img tag s used to insert image and is a self closing tag -->
<img src = 'https://images.unsplash.com/photo-1528825871115-3581a5387919?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80', height="100", width="100">
<div id="new">
    <p>
        <strong>CSS</strong> is designed to enable the separation of presentation and content, including layout, colors, and fonts.[3] This separation can improve content accessibility, provide more flexibility and control in the specification of presentation characteristics, enable multiple web pages to share formatting by specifying the relevant CSS in a separate .css file, and reduce complexity and repetition in the structural content.

    Separation of formatting and content also makes it feasible to present the same markup page in different styles for different rendering methods, such as on-screen, in print, by voice (via speech-based browser or screen reader), and on Braille-based tactile devices. CSS also has rules for alternate formatting if the content is accessed on a mobile device.
    </p>
</div>



<!-- hr tag is used to draw a horizontal rule(line) any where , it is a self closing tag -->

<!-- br is also a self closing tag -->

<!-- Ancor (a) tag is used to define a link and connect web page, it always works with its attribute href -->
<a href="https://cssminifier.com/"><b>To minify your CSS file.CLICK HERE</b></a>
<br><br>
<a href="https://unsplash.com/"><b>For high quality image content.CLICK HERE</b></a>
<br><br>
<a href="https://fonts.google.com/"><b>For some awesome fonts.CLICK HERE</b></a>
<br><br>
<a href="https://specificity.keegan.st/"><b>To check the specificity value among two tags.CLICK HERE</b></a>
<br><br>
<a href="https://www.w3schools.com/tags"><b>Click here for learning more about html tags</b></a>
<br><br>
<a href="https://css-tricks.com/"><b>To learn more about CSS</b></a>
<br>
<a href="../forms.html"><i><h1>Click here to register</h1></i></a>
<!-- Absolute url's are the one whose directory is not mandatory to specify, that is we can access from anywhere e.g., "https://www.w3schools.com/tags" -->
<!-- Relative url's are the one whose directory is to be defined if they are not in the same directory e.g., "forms.html" -->



</body>
</html>